:root {
    --spacing-50: 4px;
    --spacing-75: 8px;
    --spacing-100: 12px;
    --spacing-125: 16px;
    --spacing-150: 18px;
    --spacing-175: 20px;
    --spacing-200: 24px;
    --spacing-225: 28px;
    --spacing-250: 32px;
    --spacing-275: 36px;
    --spacing-300: 40px;
    --spacing-325: 48px;
}