.u-col-span-full {
	grid-column: 1 / -1;
}

.u-col-span-2 {
	grid-column: span 2;
}

.u-col-span-3 {
	grid-column: span 3;
}

.u-bg-gray-600 {
	background-color: var(--color-gray-600);
}

.u-bg-gray-500 {
	background-color: var(--color-gray-500);
}

.u-font-size-150 {
	font-size: var(--font-size-150);
}

.u-font-size-175 {
	font-size: var(--font-size-175);
}

.u-text-white {
	color: var(--color-white);
}

.u-margin-block-start-275 {
	margin-block-start: var(--spacing-275);
}

.u-w-fit {
	width: fit-content;
}
