:root {
	--color-white: #ffffff;
	--color-beige: #f7f6f2;

	--color-gray-100: #f7f7f9;
	--color-gray-200: #ced4da;
	--color-gray-300: #979797;
	--color-gray-400: #495057;
	--color-gray-500: #2f2f2f;
	--color-gray-600: #000000;

	--color-red: #ff654d;

	--color-yellow: #fcd84d;

	--color-blue-100: #0099ff;
	--color-blue-200: #007bff;
	--color-blue-300: #0075ff;
	--color-blue-400: #2c60ff;
	--color-blue-500: #004fb3;

	--color-purple-100: #b3a7fd;
	--color-purple-200: #e878ff;
	--color-purple-300: #4830fd;

	--color-pink-100: #fff1f8;

	--color-twilight: #eaeaff;

	--color-gradient: linear-gradient(
		45deg,
		var(--color-purple-300) 0%,
		var(--color-red) 100%
	);
}
