.u-col-span-full {
	grid-column: 1 / -1;
}

.u-col-span-2 {
	grid-column: span 2;
}

.u-col-span-3 {
	grid-column: span 3;
}

.u-bg-gray-600 {
	background-color: var(--color-gray-600);
}

.u-bg-gray-500 {
	background-color: var(--color-gray-500);
}

.u-bg-beige {
	background-color: var(--color-beige);
}

.u-text-size-150 {
	font-size: var(--font-size-150);
}

.u-text-size-175 {
	font-size: var(--font-size-175);
}

.u-text-serif {
	font-family: var(--font-serif);
}

.u-text-white {
	color: var(--color-white);
}

.u-text-purple-200 {
	color: var(--color-purple-200);
}

.u-link-purple:link,
.u-link-purple:visited,
.u-link-purple:active {
	color: var(--color-purple-200);
}

.u-link-purple:hover {
	color: var(--color-purple-200);
	filter: brightness(0.75);
}

.u-margin-block-start-275 {
	margin-block-start: var(--spacing-275);
}

.u-sm-hidden {
	@media (max-width: 60rem) {
		display: none;
	}
}

.u-w-fit {
	width: fit-content;
}

.u-min-height {
	display: block;
	min-height: 100vh;
}
