name: Lint

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  # Replace pull_request with pull_request_target if you
  # plan to use this action with forks, see the Limitations section
  pull_request:
    branches:
      - main

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 21

      # Prettier must be in `package.json`
      - name: Install Node.js dependencies
        run: npm install

      # only the format check command will run as part of the pipeline
      # devs can format their coode using 'npm run prettier-format-fix' command during development
      - name: Run linting check
        run: npm run prettier-format-check
